.changeGraphButton {
  margin-bottom: 12px;
}
.toolsContent {
  width: 0px;
  opacity: 0;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.toolsMenu {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #eaebf3;
  width: 50px;
  height: 50px;
  transition-duration: 300ms;
  border-radius: 6px;
}
.toolsMenu:hover {
  width: 490px;
  height: fit-content;
  transition-duration: 300ms;
}
.toolsMenu:hover .toolsContent {
  width: fit-content;
  opacity: 1;
  transition-duration: 300ms;
  transition-delay: 100ms;
}
